

<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container">

  <a class="navbar-brand" routerLink="/" style="font-size:28px; font-weight:bold; color:white;">Movie Finder</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse col-md-5" id="navbarSupportedContent">
      <input class="form-control"
             type="search"
             placeholder="Search"
             aria-label="Search"
             [(ngModel)]="searchStr"
             (keyup)="searchMovies()"
             (blur)="hideOnFocusOut()"
             >
  </div>
  </div>
</nav>

<div class="container">
  <div *ngIf = "searchStr !== ''" class="row">
    <div class="offset-lg-6 offset-lg-4 offset-md-2 col-md-5 col-sm-12 searchContent scrollbar">
       <div class="row text-white" *ngFor="let movie of searchList; let i = index;"  style="border:1px solid black;">
         <div class="col-md-3 col-sm-4 col-6">
<img  class="img-thumbnail" *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width:95%;">
         </div>
         <div class="col-md-9 col-sm-8 col-6">
           <div class="card text-white" style="background-color:rgba(99, 99, 99, 0.75);">
             <div class="card-body">
               <h5 class="card-title">{{movie.title}}</h5>
               <p class="card-text">Release Date: {{movie.release_date}}</p>
               <p class="card-text">genere: Action, Sci-fi, Adventure</p>
               <button type="button" name="button" class="btn btn-info float-right" routerLink="../{{movie.id}}">details</button>

             </div>
            </div>
         </div>
       </div>
    </div>
  </div>
</div>








<div class="container-fluid full-height">

   <div class="card bg-dark text-white" style="margin-top:100px;">
     <div class="container">
      <h3 class="card-header">{{movieDetails.title }}</h3>

      <div class="row" style="padding-bottom:20px;">
        <div class="col-md-3">
          <img  class="img-thumbnail" *ngIf="movieDetails.poster_path" src="https://image.tmdb.org/t/p/w500{{movieDetails.poster_path}}" style="width:100%;">
       </div>
      <div class="offset-md-2 col-md-7">
        <div class="card-block">

           <p class="card-text">Release Date : {{movieDetails.release_date}}</p>
           <p class="card-text">Original Language : {{movieDetails.original_language}}</p>
           <p class="card-text">Run Time : {{movieDetails.runtime}} mins.</p>
           <p class="card-text">Rating : {{movieDetails.vote_average}}</p>
           <p class="card-text">Genre : {{genres}}</p>
           <p class="card-text" style="font-style:italic;"><q>{{movieDetails.overview}}</q></p>




           <a href="{{movieDetails.homepage}}" target="_blank"class="btn btn-primary" *ngIf="movieDetails.homepage !==''">Visit movie website</a>
        </div>
      </div>

       </div>

</div>
  </div>
</div>
