.search-nav{background-image: url("https://wallpapercave.com/wp/hMJvzuy.jpg");
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 150px 0;}

.searchContent{position: absolute;
               max-height: 70%;
               overflow-y: auto;
               transition: 0.5s;
               z-index: 5;
               background-color: rgba(99, 99, 99, 0.53);
               box-shadow: 0 0 10px #000;
               color: white;}

.heading{background-color: #212223;
        margin-bottom: 20px;}


        .scrollbar::-webkit-scrollbar-track
        {
        	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb
        {
        	border-radius: 10px;
        	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        	background-color: #555;
        }
